///
/// About
///
// About
.about-container {
  @include container-grid;

  display: flex;
  width: 100%;
  max-width: 100rem;
  height: 100%;
  padding: 3rem 3rem;
  flex-direction: column;

  .about-title {
    width: 100%;
    color: $white-color;
    padding: 1.25rem 0;
    font-size: 4rem;
    justify-content: start;
    font-family: $league-spartan-regular-font;
    font-weight: 400;
    letter-spacing: 1.5rem;
    word-wrap: break-word;
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
    font-family: $roboto-regular-font;
    gap: 4rem;

    .about-text {
      display: inline-flexbox; /* Activamos flexbox */
      width: auto;
      letter-spacing: 0.36px;
      font-size: 1.5rem;
      word-wrap: break-word;

      .right {
        text-align: end;
      }

      .text-bold {
        font-weight: 700;
      }

      .text-italic {
        font-style: italic;
      }

      .text-medium {
        font-style: italic;
        font-weight: 600;
      }
    }
  }
}

@include responsive-display($w-lg) {
  .about-container {
    padding: 2rem;
  }
}

@include responsive-display($w-md) {
  .about-container {
    padding: 1.5rem;
    gap: 1.5rem;

    .about-title {
      padding: 0.75rem 0;
      font-size: 2.75rem;
    }

    .about-text-container {
      gap: 2.25rem;
      .about-text {
        font-size: 1.25rem;
      }
    }
  }
}

@include responsive-display($w-sm) {
  .about-container {
    padding: 0.75rem;

    .about-title {
      font-size: 3.25rem;
      line-height: normal;
    }

    .about-text-container {
      .about-text {
        font-size: 1.125rem;

        .right {
          text-align: start;
        }
        br {
          display: none;
        }
      }
    }
  }
}

///
/// End code
///
// End code
