.bpc-container {
  @include container-grid;
  @include post-container;

  .blog-post-cards-section {
    @include row;

    width: 100%;
    // flex-direction: row;

    .bpc-title {
      @include col(12);

      font-family: $montserrat-semibold-font;
      font-weight: 400;
      font-size: 4rem;
      padding: 1rem 0;
    }

    // .blog-post-card-container {
    //   // padding: 3rem;
    //   display: inline-flex;
    //   gap: 2rem;

    //   .blog-card {
    //     // width: auto;
    //     // height: 100%;
    //     // display: inline-flex;
    //     // flex-direction: column;
    //     justify-content: flex-end;
    //     align-items: flex-start;
    //     gap: 15px;
    //     text-decoration: none;
    //     color: inherit;
    //   }
    // }
    //

    .bc-image {
      @include blog-image;
    }

    .bc-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 15px;

      .bc-title {
        @include blog-title;
      }

      .bc-subtitle {
        @include blog-subtitle;
      }

      .bc-description {
        @include description-contenet;
      }
    }
  }

  .bc-post-link {
    font-size: 1.25rem;
  }
}

@include responsive-display($w-md) {
  .blog-post-card-container {
    .blog-card {
      @include col(12);
    }
  }
}
