///  Mixin para las filas
///
@mixin row {
  display: grid;
  flex-wrap: wrap;
}
///
///  Mixin para las columnas
///
@mixin col($columns) {
  grid-column: 0 0 percentage($columns / $grid-columns);
  max-width: percentage($columns / $grid-columns);
}
///  end-mixins
///
