---
// styles
import "../styles/global.css";
---

<header class="header-container">
  <!-- <button class="navbar-toggle" aria-label="Toggle navigation">
    <span class="toggle-icon">Menú</span>
  </button> -->
  <ul class="nav-link"><a href="/">Home</a></ul>
  <ul class="nav-link"><a href="/">3D Renders</a></ul>
  <ul class="nav-link"><a href="/">Logo Design</a></ul>
  <ul class="nav-link"><a href="/">AI Reels</a></ul>
</header>
