///
/// Alfa Slab One, Exo 2, Inter Tight, Noto Sans Display
///
// @import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap");
///
/// Sansation
///
@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation/Sansation_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
///
/// Montserrat
///
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
///
/// Roboto
///
/// Roboto light
///
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
///
/// Roboto regular
///
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
///
/// Roboto medium
///
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
///
/// Lexend Zetta
///
@font-face {
  font-family: "Lexend Zetta";
  src: url("/fonts/Lexend_Zetta/static/LexendZetta-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
///
/// League Spartan
///
@font-face {
  font-family: "League Spartan Regular";
  src: url("/fonts/League_Spartan/static/LeagueSpartan-Regular.ttf")
    format("trueype");
  font-weight: 400;
  font-style: normal;
}
///
/// ABeeZee
///
@font-face {
  font-family: "ABeeZee";
  src: url("/fonts/ABeeZee/ABeeZee-Regular.ttf") format("trueype");
  font-weight: 400;
  font-style: normal;
}
