/// Variables
///
/// Colores
///
$color-black: rgba(0, 0, 0, 100) !default;
$color-white: rgba(255, 255, 255, 100) !default;
//
$background-color: rgba(5, 5, 5, 100) !default;
//
$color-first: rgb(234, 141, 255) !default;
$color-secund: rgb(145, 180, 255) !default;
$color-thirth: rgb(104, 228, 255) !default;
$color-fourth: rgb(255, 255, 255) !default;
///
/// Fonts
///
$roboto-font: "Roboto", sans-serif;
$sansation-font: "Sansation", sans-serif;
$montserrat-semibold-font: "Montserrat", sans-serif;
$roboto-regular-font: $roboto-font;
$roboto-light-font: $roboto-font;
$roboto-medium-font: $roboto-font;
$lexant-zetta-regular-font: "Lexend Zetta", sans-serif;
$league-spartan-regular-font: "League Spartan Regular", sans-serif;
$abeezee-regular-font: "ABeeZee", sans-serif;

///
/// Fonts map
$font-family-map: (
  "alfa-slab-one": "Alfa Slab One",
  "inter-tight": "Inter Tight",
  "outfit": "Outfit",
  "exo-2": "Exo 2",
  "farro": "Farro",
  "noto-sans-display": "Noto Sans Display",
) !default;
///
/// Font colors
///
$primary-text-color: rgba(235, 235, 235, 100) !default;
$secundary-text-color: rgba(200, 200, 200, 100) !default;
///
/// Font size
$font-size: 16px;
$menu-item-font-size: 16px;
///
/// Grid variables
///
$grid-gutter-width: space(3) - 0.125 !default;
$grid-row-columns: 6 !default;
$grid-columns: 12 !default;
///
$max-width: 100rem;
///
$w-sm: 550px;
$w-md: 750px;
$w-lg: 1248px;
$w-xl: 1688px;
///
/// endcode
///
