---
// Layout
import MainLayout from "@/layout/MainLayout.astro";

// styles
import "../styles/global.css";
---

<MainLayout title="Steve Johnson | Art & Design">
  <section class="background-container">
    <img
      class="backgroundImage"
      src="../../public/images/background_image.jpg"
      alt="Background Image"
    />
  </section>
</MainLayout>
